<settings>
<category label="OCM v2 Settings">
	<setting id="ga_time" type="text" label="GA Called" default="2000-01-01 00:00:00" visible="false"/>
    <setting id="ga_visitor" type="text" label="GA visitor" default="" visible="false"/>
	<setting id="pop_time" type="text" label="For POP UP" default="2000-01-01 00:00:00" visible="false"/>
	<setting id="use_meta" type="bool" label="Use Metadata" default="true"/>
	<setting id="auto_view" type="bool" label="Enable AutoView" default="true"/>
	<setting id="view_modes" type="labelenum" values="508|503|500" label="Default View Mode" default="0"/>
	
	
</category>
</settings>